node_modules
Desafios/Desafio 21/logs/error.log
Desafios/Desafio 21/logs/info.log
Desafios/Desafio 21/logs/warning.log
Desafios/Desafio 24/logs/error.log
Desafios/Desafio 24/logs/info.log
Desafios/Desafio 24/logs/warning.log
Desafios/Desafio 24/public/uploads