<h1 style="color:blue;">Centro de Mensajes</h1>
<br>
<div class="row">
    <div class="col">
        <input id="email" type="mail" class="form-control" placeholder="mail@example.com.ar">
    </div>
    <div class="col">
        <input id="mensaje" type="text" class="form-control" placeholder="Message">
    </div>
</div>
<button id="botonEnviarMensaje" class="btn btn-success mt-3">Enviar</button>
<button id="botonEliminarMensajes" class="btn btn-danger mt-3">Eliminar Mensajes</button>
<hr>