{{#if hayMensajes}}
    {{#each array_mensajes}}
        <div class="row">
            <span style="color:blue;"><b>{{email}}</b>
            <span style="color:black;"> [{{dateString}}] : </span>
            <span style="color:green;"> {{message}}</span>
        </div>
    {{/each}}
{{else}}
    <h3 class="alert alert-danger">No se encontraron Mensajes</h3>
{{/if}}